<div class="mainDiv">
  <div class="leftDiv">
    <p class="headingOne">Lorem ipsum dolor elit.</p>

    <p class="headingTwo">
      Deleniti ut voluptates reiciendis iusto velit at, quod dolorem? Ex,
      temporibus corporis!
    </p>

    <button class="getStartedBtn">GET STARTED</button>
  </div>
  <div class="rightDiv">
    <img
      class="heroImg"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmXXCDYFr81V1g-czG3hU0IKW_IXK80GaFBw&usqp=CAU"
      alt=""
    />
  </div>
</div>
