<div [ngStyle]="{display:'flex',flexDirection:'column',alignItems:'center', gap:'10px' ,  margin:'20px',height:'700px'}">
    <h1>JITU SCHOOL</h1>
    <div>
        <h3 [ngStyle]="{textAlign:'center'}">MOTTO:</h3>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    </div>
    <div>
        <h3 [ngStyle]="{textAlign:'center'}">MISSION:</h3>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Deleniti ut voluptates reiciendis iusto velit at, quod dolorem? Ex, temporibus corporis!
    </div>
    
    <div>
        <h3 [ngStyle]="{textAlign:'center'}">VISION:</h3>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Deleniti ut voluptates reiciendis iusto velit at, quod dolorem? Ex, temporibus corporis!
    </div>
    <div><button [ngStyle]="{backgroundColor:'#3461AB',
    height:'50px',width:'250px', color:'white',
     border:'none', borderRadius:'50px', marginTop:'40px', fontSize:'18px'}">GET STARTED</button></div>


</div>