

<div [ngStyle]="mainLoginDivStyles()">
  <div >
    <p *ngIf="!errMessage ; else noError" ></p>
    <ng-template #noError>

        <p>{{errMessage}}</p>

    </ng-template>
  </div>
  <div><img [ngStyle]="{height:'60px'}" src="https://cdn.pixabay.com/photo/2017/01/16/10/51/diploma-1983725__480.png" alt=""></div>
  <h3 [ngStyle]="{textAlign:'center'}">LOGIN HERE</h3>



<div [ngStyle]="loginDivsStyles()">
  <label for="Email">Email:</label>
  <input type="email" [ngStyle]=" loginInputStyles()" [ngModelOptions]="{standalone:true}" [(ngModel)]="email" required />
</div>
<div [ngStyle]="loginDivsStyles()">
  <label for="Password">Password:</label>
  <input type="password" [ngStyle]=" loginInputStyles()" [ngModelOptions]="{standalone:true}" [(ngModel)]="pwd" required/>
</div>
<div>
  <button
    [ngStyle]="loginBtnStyles()"
    (click)="login()">
    LOGIN
  </button>
</div>


</div>
    