<div >
    <div [ngStyle]="{display:'flex',
    justifyContent:'space-between',
    alignItems:'center',
    height:'50px',
    padding:'5px 20px',
    color:'white',
    backgroundColor:'#3461AB'}">
        <div>LOGO</div>
        <div [ngStyle]="{display:'flex',gap:'40px',alignItems:'center'}">
            <a [ngStyle]="{textDecoration:'none' ,color:'white',
            height:'50px',padding:'5px',textAlign:'center'}" routerLink="home" routerLinkActive="active" >HOME</a>
           
            <a [ngStyle]="{textDecoration:'none',color:'white',height:'50px' }" routerLink="dashboard" routerLinkActive="active" >DASHBOARD</a>
        </div>
        <div [ngStyle]="{display:'flex',gap:'40px'}" >
            <a [ngStyle]="{textDecoration:'none',color:'white',height:'50px'}" routerLink="login" routerLinkActive="active" >LOGIN</a>
            <a [ngStyle]="{textDecoration:'none' ,color:'white',height:'50px'}" href=""routerLinkActive="active" >LOGOUT</a>
        </div>

    </div>
    <router-outlet></router-outlet>
    <!-- <div>
        <app-hero></app-hero>
        <app-login></app-login>
        <app-dashboard></app-dashboard>
    </div> -->
</div>


