<div >
    <div [ngStyle]="{display:'flex',
    justifyContent:'space-between',
    alignItems:'center',
    height:'50px',
    padding:'5px 20px',
    color:'white',
    backgroundColor:'#3461AB'}">
        <div>LOGO</div>
        <div [ngStyle]="{display:'flex',gap:'40px'}">
            <a [ngStyle]="{textDecoration:'none' ,color:'white'}" routerLink="" >HOME</a>
           
            <a [ngStyle]="{textDecoration:'none',color:'white'}" routerLink="">DASHBOARD</a>
        </div>
        <div [ngStyle]="{display:'flex',gap:'40px'}" >
            <a [ngStyle]="{textDecoration:'none',color:'white'}" href="">LOGIN</a>
            <a [ngStyle]="{textDecoration:'none' ,color:'white'}" href="">LOGOUT</a>
        </div>

    </div>
    <router-outlet></router-outlet>
</div>

<app-hero></app-hero>
<app-login></app-login>
<!-- <app-add-student></app-add-student> -->
<app-dashboard></app-dashboard>
