<div
  [ngStyle]="{
    display: 'flex',
    flexDirection: 'column',
    padding: '20px',
    height: '700px'
  }"
>
  <div *ngIf="isShowDiv" [ngStyle]="formDivStyles()">
    <p>RegNo:</p>
    <input [ngStyle]="addInputs()" [(ngModel)]="student.regNo" type="text" required #reg />
    <p>Name:</p>
    <input [ngStyle]="addInputs()" [(ngModel)]="student.name" type="text" required  #nam/>
    <p>Fees Paid:</p>
    <input
      [ngStyle]="addInputs()"
      [(ngModel)]="student.feePaid"
      type="number" required 
    #fee/>

    <button [ngStyle]="addBtnStyles()" (click)="onAdd(reg.value, nam.value,fee.value)">ADD</button>
  </div>

  <div [ngStyle]="{ display: 'flex', padding: '10px' }">
    <div [ngStyle]="allButtonsDivStyles()">
      <button [ngStyle]="buttonStyles()" (click)="changeValue('all')">SHOW ALL STUDENTS</button>
      <button [ngStyle]="buttonStyles()" (click)="changeValue('withBal')">STUDENTS WITH BALANCE</button>
      <button [ngStyle]="buttonStyles()" (click)="changeValue('noBal')">STUDENTS WITHOUT BALANCE</button>
      <button [ngStyle]="buttonStyles()" (click)="toggleDisplayDiv()">
        ADD NEW STUDENT
      </button>
    </div>
    <div [ngStyle]="{ width: '75%', padding: ' 0px 20px' }">
      <div [ngStyle]="columnHeadingStyles()">
        <h3>REGNO</h3>
        <h3>NAME</h3>
        <h3>FEES PAID</h3>
        <h3>FEE BALANCE</h3>
      </div>

      <div [ngSwitch]="status" >
        <div *ngSwitchCase="'all'" >
      <div *ngIf="studentsArr.length; else noStudent">
        <div *ngFor="let student of studentsArr ; let i = index" [ngStyle]="displayStudentDivStyles()">
          <p>{{ student.regNo }}</p>
          <p>{{ student.name|capitalization }}</p>
          <p>{{ student.feePaid | currency: "KSH" }}</p>
           <p>
            {{
              getBalance(student.schoolFee, student.feePaid) | currency: "KSH"
            }}
           </p>
           
          
        </div>
       
      </div>
      <ng-template #noStudent>
        <p><i>There are no students to in the system!!</i></p>
      </ng-template>

          
        </div>
        <div *ngSwitchCase="'withBal'" >
          <div *ngIf="studentsArr.length; else noStudent">
            <div *ngFor="let student of studentsArr |withBalance:student.feePaid let i = index" [ngStyle]="displayStudentDivStyles()"
            appBackground [textColor]="'#5A1013'" [backgroundColor]="'#C4A484'">
              <p>{{ student.regNo }}</p>
              <p>{{ student.name }}</p>
              <p>{{ student.feePaid | currency: "KSH" }}</p>
              <p>
                {{
                  getBalance(student.schoolFee, student.feePaid) | currency: "KSH"
                }}
              </p>
            </div>
          </div>
          <ng-template #noStudent>
            <p><i>All students have paid their fees!!</i></p>
          </ng-template>
        
        </div>
        <div *ngSwitchCase="'noBal'" >
          <div *ngIf="studentsArr.length; else noStudent">
            <div *ngFor="let student of studentsArr |withoutBalance:student.feePaid  let i = index" [ngStyle]="displayStudentDivStyles()">
              <p>{{ student.regNo }}</p>
              <p>{{ student.name }}</p>
              <p>{{ student.feePaid | currency: "KSH" }}</p>
              <p>
                {{
                  getBalance(student.schoolFee, student.feePaid) | currency: "KSH"
                }}
              </p>
            </div>
          </div>
         
          <ng-template #noStudent>
            <p><i>Seems like all students have paid their fees!!</i></p>
          </ng-template>
        </div>
    
      </div>

     
    </div>
  </div>
</div>
