<div
  [ngStyle]="{
    display: 'flex',
    flexDirection: 'column',
    padding: '20px',
    height: '700px'
  }"
>
  
    <div *ngIf="isShowDiv"  [ngStyle]="formDivStyles()">
      <p>RegNo:</p>
      <input [ngStyle]="addInputs()" [(ngModel)]="student.regNo" type="text" />
      <p>Name:</p>
      <input [ngStyle]="addInputs()" [(ngModel)]="student.name" type="text" />
      <p>Fees Paid:</p>
      <input
        [ngStyle]="addInputs()"
        [(ngModel)]="student.feePaid"
        type="number"
      />

      <button [ngStyle]="addBtnStyles()" (click)="onAdd()">ADD</button>
    </div>
  

  <div [ngStyle]="{ display: 'flex', padding: '10px' }">
    <div [ngStyle]="allButtonsDivStyles()">
      <button [ngStyle]="buttonStyles()">SHOW ALL STUDENTS</button>
      <button [ngStyle]="buttonStyles()">STUDENTS WITH BALANCE</button>
      <button [ngStyle]="buttonStyles()">STUDENTS WITHOUT BALANCE</button>
      <button [ngStyle]="buttonStyles()" (click)="toggleDisplayDiv()" >ADD NEW STUDENT</button>
    </div>
    <div [ngStyle]="{ width: '75%', padding: ' 0px 20px' }">
      <div [ngStyle]="columnHeadingStyles()">
        <h3>REGNO</h3>
        <h3>NAME</h3>
        <h3>FEES PAID</h3>
        <h3>FEE BALANCE</h3>
      </div>
      <div *ngIf="studentsArr.length; else noStudent">
        <div *ngFor="let student of studentsArr; let i = index">
          <div
            [ngStyle]="displayStudentDivStyles()"
            (click)="showStudentDetails(i)"
          >
            <p>{{ student.regNo }}</p>
            <p>{{ student.name }}</p>
            <p>{{ student.feePaid | currency: "KSH" }}</p>
            <p>
              {{
                getBalance(student.schoolFee, student.feePaid) | currency: "KSH"
              }}
            </p>
          </div>
        </div>
      </div>
      <ng-template #noStudent>
        <p><i>There are no students to display!!</i></p>
      </ng-template>
    </div>
  </div>
</div>
